*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior:smooth;
}
.header{
    margin-top:20px;
    font-size:20px;
    display:grid;
    grid-template-columns: auto auto;
}
.logo{
    margin-left: 2em;
    font-weight: bold;
    color:royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
    text-shadow: 3px 3px 10px green;
}
nav{
    display: inline-block;
    margin-left: 25em;
    overflow: hidden;
    margin-top:4px;
}
nav .links{
    margin:20px;
    text-decoration: none;
    text-align: center;
    color:black;
}
nav .links:hover{
    color:white;
    text-shadow: 2px 2px 5px #000000;
    font-size:23px;
}
nav .links:focus{
    color:darkred;
}
.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 110px;
}
.dropdown .dropbtn {
  font-size: inherit;  
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  margin: 0px;
}
.dropdown .dropbtn:hover{
    color:white;
    text-shadow: 2px 2px 5px #000000;
    font-size:23px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color:white;
            text-shadow: 2px 2px 5px #000000;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* ABOUT US PAGE */
.about-banner{
    background-image: url(about3.jpg);
    background-size: contain;
    width: 100%;
    height: 30vh;
    color: wheat;

}
.about-banner h1{
    font-size: 70px;
    color: wheat;
    margin-left: 80px;
    padding-top: 30px;
}

.about-banner a{
    margin-left: 80px;
    text-decoration: none;
    color: white;
    font-size: 20px ;
}
.about-banner a:hover{
    transition: 0.7s;
    color: rgba(135, 152, 222, 0.416);

}
.home-link{
    font-size: 20px;
}

.about-content h1{
    text-align: center;
    font-size:40px;
}

.about-content h1{
    color:#660000b3;
}

.about-content h1 span{
    color:wheat;
}

.about-content p{
    text-align: justify;
    margin-left: 80px;
    line-height:1.7;
    word-spacing:2px;
}

.vision{
    margin-left: 10px; 
    background-color: #fafafa;
    box-shadow: inset 0px 12px 17px -7px rgb(66 66 66 / 25%);
    padding: 40px 0; 
    box-sizing:border-box;
    padding-left: 70px;
    line-height:1.7;
    word-spacing:2px;


    
}
.vision h2{
    color:#660000b3;
}
.vision h2 span{
    color:wheat;
}
body{
    font-family: 'poppins' sans-serif;
    font-size:18px;
    background-color:#fff;
    color:#333;
    box-sizing:border-box;
}
    
.icon i{
    color: #660000b3;
    width: -2px;

}

.to-top {
    color: #fff;
    position:fixed;
    bottom:16px;
    right:32px;
    height:50px;
    width:50px;
    background:#660000b3;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    display:flex;
    text-decoration: none;
   
}

.to-top.active{
    bottom:32px;
    pointer-events: auto;
    opacity:1;
    transition: 2s;
}