/*Custom properties*/

:root {
    --dark-color: #2d2c2c;
    --purple-solid: #350a4f;
    --purple-transparent: rgba(53, 10, 79, .7);
    --purple-transparent-alt: rgba(53, 10, 79, .5);
    --purple-light: #8f50fb;
    --yellow-solid: #fa9e2c;
    /* --red-solid: #fa0e0e; */
    --gradient-color: linear-gradient(to right, var(--yellow-solid), orangered);
    --gradient-color-alt: linear-gradient(crimson, green, blue,royalblue );
  }*
  
  /* Booking section styles...Seun 
  .booking{
   background-image: var(--gradient-color); */

  
    .logo{
    margin-left: 2em;
    font-weight: bold;
    color:royalblue;
    font-family: 'serif';
    font-size:35px;
    text-shadow: 3px 3px 5px orange;
  }
  marquee{
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
  }
  /* .input-group{
    margin-bottom: 1.5rem;
  }
  .input-label{
    /* this will make make anything besides the label go down to the next line */
    /* display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    /* color: #fff; */
    /* margin-bottom: 1rem;
    background-image: var(--gradient-color-alt);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
    line-height: 1em;
    margin-left: 2px;
    font-weight: 900;
  } */ 
  /* setting outline to none, will remove highlight from the inputs */
  /* .input,.options{
    outline: none;
    border: none;
    width: 97%;
    min-height: 4rem;
    padding: 1rem;
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 2px;
    font-family: 'open sans', 'sans-serif';
    font-size: 1.2rem;
    /* resize: none; 
  } */
  
  /* .form-btn{
    margin-top: 2.5rem;
    cursor: pointer;
  }
  
  .btn-purple{
    background-color: var(--purple-solid);
  }
  .btn-purple:hover{
    background-color: #56247f;
  }
  
  ::placeholder{
  color:  inherit;
  */
/* body{
    background: url(images/photo5.jpg);
  }  */
  .container{
    /* margin-top: 2%; */
    /* margin-bottom: 5%; */
    margin-left: 10%;
  }
  .container h1{
    text-align: center;
    color: white;
  }
  .booking{
    width: 400px;
    height: 650px;
    background-color: #2d2c2c;
    background-size: cover;
    background-position: center;
     background-image: url(images/photo4.jpg);
     float: left;
     border: 40px 0px 0px 40px;
     
  }
  .form{
    width: 600px;
    height: 650px;
    background-image: linear-gradient(130deg, #607ad1, #9ed3d9 60%);
    padding: 30px;
    box-sizing: border-box;
    float: left;
    border:0px 40px 40px 0px ;
    padding-top: 8% ;
    
  }
  .container-2{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }  
  .input-left{
    flex-basis: 45%;
  }
  .input-right{
    flex-basis: 45%;
  }
 .input{
    width: 60%;
    padding: 13px;
    margin: 15px 0;
    font-size: 15px;
    outline: none;
  } 
.output-label,.output{
  display: block;
  margin-left: 35%;
  padding: 5px;
  margin-top: 2%;
}

  .form label{
    align-items: left;
    font-size: 20px;
  }

  .output{
    width: 50%;
    padding: 13px;
    align-items: center;
    font-size: 15px;
    outline: none;
    margin-left: 20%;
    /* margin-right: 3%; */
    display: inline-block;
  }  

 .form h2{
    text-align: center;
    margin: 5%;
  }
  .check-b{
    /* margin-right: 5%; */
    margin-left: 20%;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5%;
  }

  .check{
    font-size: 10px;
  }
  button{
    font-size: 25px;
    align-self: center;
    text-align: center;
    justify-content: center;
    /* margin-left: 30%; */
    color: white;
    background: black;
    /* border-radius: 5%; */
    padding: 10px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
  }
   /* RESPONSIVENESS */
   